.loading {
    width: 100vw;
    height: 1rem;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    position: fixed;
    font-size: 8px;
    left: 0;
    text-align: center;
    top: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.loading.active {
    opacity: 1;
}